# pnpm 版本在 9.0 后 pnpm 修改 link-workspace-packages 的默认值为 false。该属性开启后，你在安装依赖时优先在本地链接，而不是从 registry（远程） 中下载。所以在这个版本你若需要使用命令安装一个新的 workspace 中的依赖需要在 .npmrc 中启用 link-workspace-packages
link-workspace-packages = true